

/* === ABOUT PAGE CSS === */

body {
  background: url("fond-about.png") repeat;
    background-size: 300px 300px; /* ajuste si besoin */ 
}

/* Conteneur principal */
.about-content {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 60px;
  max-width: 1200px;
  margin: 80px auto;
  padding: 20px;
}

/* Photo */
.about-photo img {
  max-width: 380px;
  border-radius: 16px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.3);
}

/* Texte */
.about-text {
  max-width: 650px;
  line-height: 1.8;
  font-size: 1.05rem;
}

/* Titre principal */
.about-text h1 {
  font-family: 'Domine', serif;
  font-size: 2rem; /* plus petit qu’avant */
  font-weight: 700;
  color:  #ECEEDF;
  margin-bottom: 25px;
  position: relative;
}


/* Paragraphe */
.about-text p {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #ECEEDF; 
  text-align: justify;
}


/*-COULEUR FOOTER-*/

.site-footer {
  background: url("../About/fond-about.png") repeat;
  background-size: 300px 300px;
}


/* --- Responsive About Page --- */
@media (max-width: 768px) {
  .about-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 50px 15px 20px;
  }

  /* Photo + h1 côte à côte */
  .about-content {
    display: flex;
    flex-direction: column;
  }

  .about-photo,
  .about-text h1 {
    display: inline-block;
    vertical-align: top;
  }

  .about-photo {
    width: 40%;
    margin-right: 15px;
    float: center; 
  }

  .about-text h1 {
    font-size: 1.2em;
    margin: 0;
  }

  .about-text p {
    clear: both; /* force à aller en dessous */
    font-size: 0.75em;
    line-height: 1.6;
    margin-top: 10px;
  }
}
